
nav {
    background-color: #8D3DAF;
    padding: 15px;
    color: #fff;
    font-size:20px;
    line-height: 20px;
}

ul {
    
    vertical-align: middle;
  
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
a{
   text-decoration: none;
   color: #fff;
}