div{
    height:100vh;
    background-color: #42144F;
    text-align:center;
   color:#fff;
}
table{
   background-color:#42144F ;
   color: #fff;
}
h2{
    text-decoration: underline;
    padding: 20px;
}